<%- include('header') %>
      <div class="row">
        <div class="col-6">
          <h4><%= title %></h4>

          <table class="table">
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>City</th>
            </tr>
            <% items.forEach(item => { %>
            <tr>
              <td><%= item.name _%></td>
              <td><%= item.age _%></td>
              <td><%= item.city _%></td>
            </tr>
            <% }) %>
          </table>
        </div>
        <div class="col-6">
            <img src="images/flower.jfif" alt="">
        </div>
      </div>
  <%- include('footer') %> 
